body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

a {
  color: #666;
  text-decoration: none; }

body {
  font-size: 12px; }

.qn_s_header {
  width: 100%;
  height: 28px;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5; }
  .qn_s_header .q_s_header_tnav {
    width: 980px;
    margin: 0 auto; }
    .qn_s_header .q_s_header_tnav ul {
      float: right;
      display: inline;
      line-height: 14px;
      padding-top: 8px;
      font-family: tahoma, arial, sans-serif;
      height: 14px; }
      .qn_s_header .q_s_header_tnav ul li {
        float: left;
        display: inline; }
        .qn_s_header .q_s_header_tnav ul li a {
          text-decoration: none;
          color: #555;
          padding: 0 8px; }

#content {
  width: 980px;
  margin: 0 auto;
  color: #555; }
  #content .page-title {
    width: 980px;
    line-height: 53px;
    height: 53px;
    padding: 20px 11px; }
    #content .page-title .page-logo {
      display: block;
      width: 138px;
      height: 53px;
      float: left;
      cursor: pointer;
      background: url(https://user.qunar.com/images/ugc/ucenter/login-logo.png); }
    #content .page-title div {
      font: normal 18px/18px "microsoft yahei", arial, sans-serif;
      padding-left: 20px;
      float: left;
      padding-top: 34px; }
  #content #page_con {
    margin: 0 auto;
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    min-height: 455px; }
    #content #page_con form {
      float: left;
      width: 615px;
      clear: both;
      padding: 40px 0 0 30px; }
      #content #page_con form div {
        color: #999;
        font-family: tahoma,arial,sans-serif;
        height: 36px; }
      #content #page_con form .country {
        padding: 10px 0;
        position: relative; }
        #content #page_con form .country label {
          position: relative;
          float: left;
          padding-top: 8px;
          display: inline-block;
          width: 80px;
          text-align: right;
          font-size: 14px;
          vertical-align: middle; }
        #content #page_con form .country .val {
          padding: 10px 0;
          float: left;
          margin-left: 10px;
          width: 256px;
          border: 1px solid #CCCCCC;
          height: 17px; }
        #content #page_con form .country input {
          width: 200px;
          height: 34px;
          position: absolute;
          left: 100px;
          border: 0;
          margin-top: 2px;
          outline: none; }
      #content #page_con form .numbers {
        padding: 10px 0;
        position: relative; }
        #content #page_con form .numbers label {
          position: relative;
          float: left;
          padding-top: 8px;
          display: inline-block;
          width: 80px;
          text-align: right;
          font-size: 14px;
          vertical-align: middle; }
        #content #page_con form .numbers .val {
          padding: 10px 0;
          float: left;
          margin-left: 10px;
          width: 256px;
          border: 1px solid #CCCCCC;
          height: 17px; }
        #content #page_con form .numbers input {
          width: 200px;
          height: 34px;
          position: absolute;
          left: 100px;
          border: 0;
          margin-top: 2px;
          outline: none; }
        #content #page_con form .numbers .bei {
          float: right;
          margin-right: 30px;
          text-align: center;
          line-height: 39px; }
        #content #page_con form .numbers .beizhu {
          display: none;
          float: right;
          position: absolute;
          top: 12px;
          left: 360px;
          text-align: center;
          line-height: 34px;
          padding-left: 19px;
          background: url(//user.qunar.com/images/ugc/ucenter/error_v2.png) 0 45% no-repeat; }
        #content #page_con form .numbers .trues {
          display: none;
          float: right;
          position: absolute;
          top: 12px;
          left: 360px;
          text-align: center;
          line-height: 34px;
          padding-left: 19px;
          background: url(//user.qunar.com/images/ugc/ucenter/error_v2.png) 0 45% no-repeat; }
      #content #page_con form .pass {
        padding: 10px 0;
        position: relative; }
        #content #page_con form .pass label {
          position: relative;
          float: left;
          padding-top: 8px;
          display: inline-block;
          width: 80px;
          text-align: right;
          font-size: 14px;
          vertical-align: middle; }
        #content #page_con form .pass .val {
          padding: 10px 0;
          float: left;
          margin-left: 10px;
          width: 256px;
          border: 1px solid #CCCCCC;
          height: 17px; }
        #content #page_con form .pass input {
          width: 200px;
          height: 34px;
          position: absolute;
          left: 100px;
          border: 0;
          margin-top: 2px;
          outline: none; }
        #content #page_con form .pass .trues {
          display: none;
          line-height: 36px;
          background: url(//user.qunar.com/images/ugc/ucenter/error_v2.png) 0 70% no-repeat;
          width: 200px;
          height: 30px;
          float: right;
          padding-left: 19px;
          margin-right: 40px; }
      #content #page_con form .yanzheng {
        padding: 10px 0;
        position: relative; }
        #content #page_con form .yanzheng label {
          position: relative;
          float: left;
          padding-top: 8px;
          display: inline-block;
          width: 80px;
          text-align: right;
          font-size: 14px;
          vertical-align: middle; }
        #content #page_con form .yanzheng .val {
          padding: 10px 0;
          float: left;
          margin-left: 10px;
          width: 140px;
          border: 1px solid #CCCCCC;
          height: 17px; }
        #content #page_con form .yanzheng input {
          width: 120px;
          height: 34px;
          position: absolute;
          left: 100px;
          border: 0;
          margin-top: 2px;
          outline: none; }
        #content #page_con form .yanzheng #v_container1 {
          position: absolute;
          right: 266px;
          background: red;
          width: 100px;
          height: 38px; }
      #content #page_con form .jihuo {
        padding: 10px 0;
        position: relative; }
        #content #page_con form .jihuo label {
          position: relative;
          float: left;
          padding-top: 8px;
          display: inline-block;
          width: 80px;
          text-align: right;
          font-size: 14px;
          vertical-align: middle; }
        #content #page_con form .jihuo .val {
          padding: 10px 0;
          float: left;
          margin-left: 10px;
          width: 140px;
          border: 1px solid #CCCCCC;
          height: 17px; }
        #content #page_con form .jihuo input {
          width: 120px;
          height: 34px;
          position: absolute;
          left: 100px;
          border: 0;
          margin-top: 2px;
          outline: none; }
        #content #page_con form .jihuo .ji {
          position: absolute;
          right: 266px;
          top: 15px;
          background: red;
          width: 100px;
          height: 28px;
          text-align: center;
          line-height: 28px;
          background: #2070f8;
          color: #FFFFFF;
          border-radius: 4px;
          cursor: pointer; }
      #content #page_con form .read input {
        margin-left: 90px;
        margin-top: 10px;
        cursor: pointer; }
      #content #page_con form .read .sp {
        margin-left: 110px;
        margin-top: -17px; }
        #content #page_con form .read .sp span {
          color: #2070f8;
          cursor: pointer; }
      #content #page_con form .yess .btns {
        margin-left: 100px;
        width: 116px;
        margin-top: 10px;
        height: 30px;
        font-size: 14px;
        color: white;
        border: 0;
        background: #ff9c00;
        text-align: center;
        line-height: 30px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 3px; }
    #content #page_con .dapic {
      float: right;
      width: 400px;
      position: absolute;
      top: 170px;
      left: 850px; }

/*# sourceMappingURL=zhuce.css.map */
